*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #121317;
}

.wrapper{
    position: absolute;
    width: 80%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 0px;
}
.container{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #18f98f;
}

.container i{
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
}
.container .num{
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
.container .text{
   color: #e0e0e0;
   font-size: 1em;
   text-align: center;
   pad: 0.7em 0;
   font-weight: 400;
   line-height: 0;
}

@media screen and (max-width:1884px) {
    .wrapper{
        position: absolute;
        width: 80%;
        gap: 30px;
    } 
    .container{
        width: 24vmin;
        height: 24vmin;
        font-size: 12px;

    }   
}
@media screen and (max-width:1384px) {
    .wrapper{
        position: absolute;
        width: 80%;
        gap: 0px;
    } 
    .container{
        width: 20vmin;
        height: 20vmin;
        font-size: 12px;

    }   
}
@media screen and (max-width:1024px) {
    .wrapper{
        width: 58vh;
    } 
    .container{
        height: 23vmin;
        width: 22vmin;
        font-size: 12px;

    }   
}

@media screen and (max-width:768px) {
    .wrapper{
        width: 41vh;
        flex-wrap: wrap;
        gap: 23px;
    } 
    .container{
        height: 38vmin;
        width: calc(50% - 14px);
        font-size: 15px;

    }   
}

@media screen and (max-width:480px) {
    .wrapper{
        gap: 33px;
    } 
    .container{
        height: 53vmin;
        width: 88%;
        font-size: 18px;

    }   
}